@use "sass:map";

/***** typography styles *****/

$fontsizes-desktop: (
  "h1": 2.625rem,   // 42px
  "h2": 2.25rem,    // 36px
  "h3": 1.75rem,    // 28px
  "h4": 1.25rem,    // 20px
  "h5": 1.125rem,   // 18px
  "body": 1rem      // 16px
);

$fontweights: (
  "regular": 400,
  "semi-bold": 600,
  "bold": 700
);

body {
  font-family: var(--ff-primary);
  font-size: map.get($fontsizes-desktop, "body");
  line-height: 1.6;
}

.h1, .h2, .h3, .h4, .h5 {
  font-family: var(--ff-accent);
}

.h2, .h3, .h4, .h5 {
  font-weight: map.get($fontweights, "semi-bold");
}

.h1 {
  font-size: map.get($fontsizes-desktop, "h1");
  font-weight: map.get($fontweights, "bold");
  line-height: 1;
  letter-spacing: 0.5px;
  color: var(--clr-primary-independence);
}

.h2 {
  font-size: map.get($fontsizes-desktop, "h2");
  text-transform: uppercase;
  line-height: 1.1;
  letter-spacing: 2px;
  color: var(--clr-primary-independence);
}

.h3 {
  font-size: map.get($fontsizes-desktop, "h3");
  font-weight: map.get($fontweights, "semi-bold");
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0.25px;
  color: var(--clr-primary-space-cadet);
}

.h4 {
  font-size: map.get($fontsizes-desktop, "h4");
  font-weight: map.get($fontweights, "semi-bold");
  line-height: 1.1;
  letter-spacing: 1px;
  color: var(--clr-primary-space-cadet);

  position: relative;
  padding-bottom: 0.35em;

  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 2.5rem;
    height: 3px;
    background-color: var(--clr-primary-silver-pink);
  }
}

.h5 {
  font-size: map.get($fontsizes-desktop, "h5");
  font-weight: map.get($fontweights, "semi-bold");
  text-transform: uppercase;
  line-height: 1.1;
  color: var(--clr-primary-space-cadet);
}

.p {
  color: var(--clr-primary-heliotrope-gray);
}

.text-bold {
  font-weight: map.get($fontweights, "bold");
}

.text-uppercase {
  text-transform: uppercase;
}

/***** button styles *****/

.btn {
  all: unset;
  cursor: pointer;
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  padding: 0.5rem 1.5rem;
}

.btn-primary {
  @extend .btn;
  background-color: var(--clr-primary-space-cadet);
  color: var(--clr-neutral-white);

  &:hover, &:focus-visible {
    outline: 2px solid var(--clr-primary-space-cadet);
    background-color: var(--clr-neutral-white);
    color: var(--clr-primary-space-cadet);
  }
}

.btn-secondary {
  @extend .btn;
  background-color: var(--clr-primary-heliotrope-gray);
  color: var(--clr-neutral-white);

  &:hover, &:focus-visible {
    outline: 2px solid var(--clr-primary-heliotrope-gray);
    background-color: var(--clr-neutral-white);
    color: var(--clr-primary-heliotrope-gray);
  }
}

/***** form component styles *****/

label {
  font-size: var(--fs-16pt);
  margin-top: 1em;
  padding-bottom: 0.25em;
}

input[type=text], input[type=email], input[type=password] {
  // all: unset;
  border: 1px solid var(--clr-neutral-gainsboro);
  padding-inline: 0.5em;
  padding-block: 0.25em;
  font-size: map.get($fontsizes-desktop, "body");
  color: var(--clr-primary-independence);

  &:focus,
  &:focus-within {
    outline: 2px solid var(--clr-primary-silver-pink);
    caret-color: var(--clr-primary-silver-pink);
  }
}

select {
  background-color: var(--clr-neutral-white);
  border: 1px solid var(--clr-neutral-gainsboro);
  padding-inline: 01em;
  padding-block: -1em;

  &:focus,
  &:focus-visible {
    outline: 2px solid var(--clr-primary-independence);
    border: none;
  }
}

option {
  background-color: var(--clr-neutral-white);
  color: var(--clr-primary-space-cadet);
  border: none;
  border-radius: 0 !important;
  margin: 0;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.is-valid {
  outline: 1px solid var(--clr-accent-crimson-ua);
  box-shadow: 0 0 3px var(--clr-accent-crimson-ua);
}

.invalid-feedback {
  color: var(--clr-accent-crimson-ua);
}