body {
  font-family: var(--ff-primary);
  font-size: var(--fs-18pt);
  line-height: 1.6;
}


/***** utility classes *****/

.container {
  width: Min(85%, 80rem);
  margin: 0 auto;
}

.padding-page {
  padding-top: 3rem;
  padding-bottom: 5rem;
}

//.product-view {
//  display: flex;
//  gap: 2rem;
//
//  &__sidebar {
//    width: 20%;
//    flex-grow: 0;
//    flex-shrink: 0;
//  }
//
//  &__products {
//    flex-grow: 2;
//    flex-shrink: 1;
//  }
//}

/***** typography styles *****/

h2 {
  font-family: var(--ff-accent);
  font-weight: var(--fw-semi-bold);
  font-size: var(--fs-24pt);
  text-transform: uppercase;
  padding-bottom: 1em;
  color: var(--clr-primary-space-cadet);
}

h3 {
  color: var(--clr-primary-independence);
  font-family: var(--ff-accent);
  font-weight: var(--fw-semi-bold);
  font-size: var(--fs-18pt);
  text-transform: uppercase;
}

h5 {
  font-size: inherit;
  line-height: 1;
}

p {
  color: var(--clr-primary-heliotrope-gray);
}

.product-name {
  font-family: var(--ff-accent);
  font-size: var(--fs-20pt);
  color: var(--clr-primary-independence);
  line-height: 1.2;
}

.price {
  font-weight: var(--fw-semi-bold);
  line-height: 1;
  color: var(--clr-primary-space-cadet);
}


/***** button styles *****/

.btn {
  all: unset;
  cursor: pointer;
  display: block;
  background-color: var(--clr-primary-space-cadet);
  color: var(--clr-neutral-white);
  text-transform: uppercase;
  text-align: center;
  padding: 0.5rem 1.5rem;

  &:hover {
    outline: 2px solid var(--clr-primary-space-cadet);
    background-color: var(--clr-neutral-white);
    color: var(--clr-primary-space-cadet);
  }
}

/***** form component styles *****/

label {
  font-size: var(--fs-16pt);
  margin-top: 1em;
  padding-bottom: 0.25em;
}

input[type=text], input[type=email] {
  // all: unset;
  border: 1px solid var(--clr-neutral-light-gray);
  padding-inline: 0.5em;
  padding-block: 0.25em;
  font-size: var(--fs-14pt);
  color: var(--clr-primary-independence);

  &:focus,
  &:focus-within {
    outline: 2px solid var(--clr-primary-silver-pink);
    caret-color: var(--clr-primary-silver-pink);
  }
}

.is-valid {
  outline: 1px solid var(--clr-accent-vermilion);
  box-shadow: 0 0 3px var(--clr-accent-vermilion);
}

.invalid-feedback {
  color: var(--clr-accent-vermilion);
}