:root {
  /* colors */
  --clr-primary-isabelline: hsl(21, 35%, 92%);
  --clr-primary-silver-pink: hsl(11, 24%, 72%);
  --clr-primary-heliotrope-gray: hsl(309, 6%, 58%);
  --clr-primary-independence: hsl(232, 17%, 35%);
  --clr-primary-space-cadet: hsl(240, 27%, 18%);

  --clr-accent-beau-blue: hsl(207, 56%, 89%);
  --clr-accent-pine-green: hsl(171, 49%, 31%);
  --clr-accent-crimson-ua: hsl(351, 67%, 38%);

  --clr-neutral-white: hsl(0, 0%, 100%);
  --clr-neutral-platinum: hsl(0, 0%, 90%);
  --clr-neutral-gainsboro: hsl(0, 0%, 85%);
  --clr-neutral-silver-chalice: hsl(0, 0%, 66%);
  --clr-neutral-black: hsl(0, 0%, 0%);

  /* font stuff */
  --ff-primary: 'Karla', sans-serif;
  --ff-accent: 'Poppins', sans-serif;
  //--ff-logo: 'ZCOOL KuaiLe', cursive;

  //--fw-bold: 700;
  //--fw-semi-bold: 600;
  //--fw-regular: 400;
  //
  //--fs-30pt: 1.875rem;
  //--fs-24pt: 1.5rem;
  //--fs-20pt: 1.25rem;
  //--fs-18pt: 1.125rem;
  //--fs-16pt: 1rem;
  //--fs-14pt: 0.875rem;
}